

@import "../../assets/css/variable.css";

@font-face {
  font-family: "icomoon";
  src: url(../../assets/fonts/icomoonlatest.ttf);
}

/* Wizard css */


.ant-steps-item>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description{
display: none;
}
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description{
  display: none;
}

.ant-steps-item-active>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description{
  display: block;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description{
  display: block;
}


/* Vertical stepper customized stepper */

.CustomStepper>.ant-steps-item{
  pointer-events: none;
}

.CustomStepper>.ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #bdbdbd !important;
}

.CustomStepper>.ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail {
  padding: 32px 0 0px !important;
}

.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: var(--green-shadow-100) !important;
}
.CustomStepper>.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
  background-color: var(--brand-white) !important;
  border-color: var(--green-shadow-100) !important;
}

.CustomStepper>.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon {
  color: var(--brand-black) !important;
}

.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon::after {
  content: "\e9a1";
  font-family: "icomoon" !important;
  color: var(--green-shadow-100) !important;
  font-size: 20px;
  vertical-align: baseline;
  line-height: 31px;
}

.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon>svg {
  display: none;
}
.CustomStepper>.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon>svg {
  display: none;
}

.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-icon {
  background-color: var(--brand-white);
}

.CustomStepper>.ant-steps-item>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon>.anticon-check>svg {
  display: none;
}
.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-icon{
  background-color: var(--brand-white) !important;
  border-color: var(--green-shadow-100) !important;
}

.CustomStepper>.ant-steps-item>.ant-steps-item-container>.ant-steps-item-icon {
  background-color: var(--brand-white) !important;
  border: 1px solid #bdbdbd;
}

.CustomStepper>.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
  border: 1px solid var(--orange-shadow-80) !important;
}

.CustomStepper>.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: var(--orange-shadow-80) !important;
}

/* text styling  */

.description-content>p{
  margin: 0;
}
.CustomStepper>.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: inherit !important;
}

