@import url("../../assets/css/variable.css");


.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root {
    border: 1px solid #F3F3F3 !important;
    border-radius: 8px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 8px 12px !important;
    min-width: 0 !important;
    color: #D2D2D3 !important;
}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.Mui-selected {
    /* background-color: var(--brand-color) !important; */
    color: #ffffff !important;
}
.ds-pagination>ul>li>.MuiButtonBase-root.MuiPaginationItem-root:hover {
    /* background-color: var(--imperial_red-shadow-40) !important; */
    /* color: #ffffff !important; */
}
.ds-tablePagination>.MuiTablePagination-toolbar>.MuiInputBase-root>.MuiInputBase-input{
    border: 1px solid !important;
    border-radius: 4px !important;
}
.ds-tablePagination>.MuiTablePagination-toolbar>.MuiTablePagination-selectLabel{
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4D4E50 !important;
}
.ds-tablePagination>.MuiTablePagination-toolbar>.MuiTablePagination-displayedRows{
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4D4E50 !important;
}
.ds-tablePagination>.MuiTablePagination-toolbar>.MuiTablePagination-displayedRows::before{
    content: 'Showing';
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4D4E50 !important;
    padding-right: 10px;
}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-previousNext{
    border: unset !important;
}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-firstLast{
    border: unset !important;
    align-items: flex-start;
}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.Mui-disabled.MuiPaginationItem-firstLast{
    color: currentColor;
    align-items: flex-start;
}
.ds-pagination>ul>li:first-child> .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-firstLast::after{
    content:"First Page" ;
    margin-left: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: demi-regular;

}
.ds-pagination>ul>li:last-child >.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-firstLast:before{
    content:"Last Page" ;
    margin-right: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: demi-regular;

}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.Mui-disabled.MuiPaginationItem-firstLast>.MuiPaginationItem-icon{
    color: #000 !important;
}
.ds-pagination>ul>li> .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-firstLast>.MuiPaginationItem-icon{
    color: #000 !important;
}